* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100%;
    background-size: cover;

}
.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}
/** box2 **/
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}
.add-sec {
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon {
    display: flex;
    align-items:center;
}
/** box3 **/
.nav-search {
    display:flex;
    justify-content: space-evenly;
    background-color: brown;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.2rem;
    background-color: rgb(255, 145, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}
/** box4 **/
span {
    font-size: 0.7rem;
}
.nav-sec {
    font-size: 0.85rem;
    font-weight: 700px;
}

/**box6 **/
.nav-cart i {
    font-size: 30px;
}



.nav-cart  {
    font-size: 0.85rem;
    font-weight: 700px;
}

/** pannel **/
.pannel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}
.pannel-options p {
    display: inline;
    margin-left: 20px;
}
.pannel-options {
    width: 70%;
    font-size: 0.85rem;
    
}
.pannel-all {
    margin-right: 200px;
}

/** hero section **/
.hero-section {
    background-image: url("Kitchen_photo.jpg");
    background-size: cover;
    height: 300px;
}
body {
    background-color: #d4d4d4;
}


/** shop-section **/
.shop-section{
    display: flex;
    justify-content: space-evenly;
}
.box {
    border: 2px solid white;
    height: 360px;
    width:  304px;
    background-color: white;
   
}
.box1 {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    background-color: white;
    display: flex;
}
.box2 {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    background-color: white;
    display: flex;
   
}
.box-img1 {
       background-image: url("headsets_photo.jpg");
       background-size: cover;
       background-position: center;
       height: 100px;
       width: 126px;
       background-color: #0f1111;
}
.box-img2 {
    background-image: url("keyboards_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 100px;
    width: 126px;
    background-color: #0f1111;
}
.box2-img1 {
    background-image: url("computermick_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 115px;
    width: 126px;
}
.box2-img2 {
 background-image: url("chairs_photo.jpg");
 background-size: cover;
 background-position: center;
 height: 115px;
 width: 126px;
}
.box p{
    font-size: 12px;
    font-weight: 700px;
    text-align: center;
}
.class1 p {
    font-size: 13px;
    font-weight: 700px;
   color: rgb(18, 177, 240);
   text-align: start;
   padding-left: 10px;
}
.box3 {
    border: 2px solid white;
    height: 360px;
    width:  305px;
    background-color: white;
}
.box4 {
    border: 2px solid white;
    height: 360px;
    width:  305x;
    background-color: white;
}
.box5 {
    border: 2px solid white;
    height: 360px;
    width:  300px;
    background-color: white;
}
.box5-pcs {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    margin-left: 15px;
    margin-right: 20px;
}

.box5-img {
    border: 2px solid white;
    background-image: url("PCs-photo.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
    
}
.box5 h2{
    text-align: center;
    font-weight: 700px;
}
.box5 p{
    font-size: 12px;
    font-weight: 700px;
    text-align: center;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;
}
.class2 p{
    font-size: 16px;
    font-weight: 700px;
    color: rgb(35, 183, 241);
}

.box3-Spaces {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 20px;
    justify-content: space-evenly;
   
    
}
.box3-items {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 20px;
    justify-content: space-evenly;
}
.box3 h2{
    text-align: center;
    font-weight: 700px;
}
.box3 p{
    font-size: 12px;
    font-weight: 700px;
    text-align: center;
}
.class2 p{
    font-size: 13px;
    font-weight: 700px;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;
}



.box3-img1 {
       background-image: url("Dinning_Photo.jpg");
       background-size: cover;
       background-position: center;
       height: 116px;
       width:  126px;
}
.box3-img2 {
    background-image: url("Home_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width: 126px;
}
.box3-img3 {
    background-image: url("Kitcheen_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width: 126px;
}
.box3-img4 {
 background-image: url("Health&Beauty_Photo.jpg");
 background-size: cover;
 background-position: center;
 height: 116px;
 width: 126px;
}
.box4-fashions {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 20px;
    justify-content: space-evenly;
   
    
}
.box4-shops {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 20px;
    justify-content: space-evenly;
}
.box4 h2{
    text-align: center;
    font-weight: 700px;
}
.box4 p{
    font-size: 12px;
    font-weight: 700px;
    text-align: center;
}
.class3 p{
    font-size: 13px;
    font-weight: 700px;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;
}
.box4-img1 {
    background-image: url("Jeans_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.box4-img2 {
 background-image: url("Tops_photo.jpg");
 background-size: cover;
 background-position: center;
 height: 116px;
 width: 126px;
}
.box4-img3 {
    background-image: url("dresses_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width: 126px;
}
.box4-img4 {
 background-image: url("shoes_photo.jpg");
 background-size: cover;
 background-position: center;
 height: 116px;
 width: 126px;
}
.explore-section{
    display: flex;
    justify-content: space-evenly;
}
.Gadgets {
    border: 2px solid white;
    height: 350px;
    width:  305px;
    background-color: white;
   
}
.Gadgets h2{
    text-align: center;
    font-weight: 700px;
}
.Gadgets p{
    font-size: 12px;
    font-weight: 700px;
    text-align: center;
}
.class4 p{
    font-size: 13px;
    font-weight: 700px;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;
}
.box-smartphones{
    border: 2px solid white;
    height: 100px;
    width:  280px;
    background-color: white;
    display: flex;
    margin-left: 15px;
    margin-right: 30px;
    justify-content: space-evenly;
   
}
.Amazon-Gadgets {
    border: 2px solid white;
    height: 100px;
    width:  280px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}
 .img-smartphones{
    background-image: url("smartphones_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 100px;
    width:  300px;
    background-color: #0f1111;
}
.img-tablets{
    background-image: url("Tablets_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 75px;
    width:  110px;
    background-color: #0f1111;
}
.img-Laptops{
    background-image: url("Laptops_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 75px;
    width:  113px;
    background-color: #0f1111;
}
.Tvs{
    background-image: url("TVs_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 75px;
    width:  113px;
    background-color: #0f1111;
}
.Toys {
    border: 2px solid white;
    height: 350px;
    width:  305px;
    background-color: white;
}
.box-toys {
    border: 2px solid white;
    height: 100px;
    width:  280px;
    margin-left: 15px;
   
}
.img-toys {
    border: 2px solid white;
    background-image: url("Toys_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 240px;
    width:  280px;
    
}
.Toys h2{
    text-align: center;
    font-weight: 700px;
}
.Toys p{
    font-size: 14px;
    font-weight: 700px;
    text-align: center;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;

}
.trends {
    border: 2px solid white;
    height: 350px;
    width:  305x;
    background-color: white;
}
.dresses-knits {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 20px;
    justify-content: space-evenly;
   
    
}
.jackets-jewellry {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 20px;
    justify-content: space-evenly;
}
.trends h2{
    text-align: center;
    font-weight: 700px;
}
.trends p{
    font-size: 12px;
    font-weight: 700px;
    text-align: center;
}
.class5 p{
    font-size: 13px;
    font-weight: 700px;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;
}
.img-dresses {
    background-image: url("dress_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.img-knits {
 background-image: url("Knits_photo.jpg");
 background-size: cover;
 background-position: center;
 height: 116px;
 width: 126px;
}
.img-jackets {
    background-image: url("jackets_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width: 126px;
}
.img-jewellry {
 background-image: url("jewelry_photo.jpg");
 background-size: cover;
 background-position: center;
 height: 116px;
 width: 126px;
}
.Home-decor {
    border: 2px solid white;
    height: 350px;
    width:  305px;
    background-color: white;
}
.decor {
    border: 2px solid white;
    height: 100px;
    width:  280px;
    margin-left: 15px;
   
}
.img-decor {
    border: 2px solid white;
    background-image: url("Homedecor_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 240px;
    width:  280px;
    
}
.Home-decor h2{
    text-align: center;
    font-weight: 700px;
}
.Home-decor p{
    font-size: 14px;
    font-weight: 700px;
    text-align: center;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;
}
.Product-section{
    padding-left: 20px;
    background-color: white;
  
}
.baby-products{
    border: 2px solid white;
    height: 220px;
    background-color: white;
    display: flex;
    justify-content: space-round;
   
}

.product-1 {
    border: 2px solid white;
    height: 200px;
    width:  270px;
    background-color: white;
   
}
.img-product1 {
    background-image: url("product1_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 177px;
    width:  270px;
}
.product-2 {
    border: 2px solid white;
    height: 200px;
    width:  184px;
    background-color: white;
   
}
.img-product2 {
    background-image: url("Product2_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  184px;
}
.product-3 {
    border: 2px solid white;
    height: 200px;
    width:  198px;
    background-color: white;
   
}
.img-product3 {
    background-image: url("Product3_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  198px;
}
.product-4 {
    border: 2px solid white;
    height: 200px;
    width:  225px;
    background-color: white;
   
}
.img-product4 {
    background-image: url("Product4_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  225x;
}
.product-5 {
    border: 2px solid white;
    height: 200px;
    width:  120px;
    background-color: white;
   
}
.img-product5 {
    background-image: url("Product5_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 190px;
    width:  100px;
}
.product-6 {
    border: 2px solid white;
    height: 200px;
    width:  70px;
    background-color: white;
   
}
.img-product6 {
    background-image: url("product6_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  225px;
}
.heading h2{
    border: 2px solid white;
    font-weight: 700px;
    height: 31px;
    width:  1280px;
    background-color: white;
   
}

.Seller-section{
    background-color: white;
  
}
.Toy-Sellers{
    border: 2px solid white;
    height: 220px;
    background-color: white;
    display: flex;
    padding-left: 20px;
    justify-content: space-evenly;
   
}

.seller-1 {
    border: 2px solid white;
    height: 200px;
    width:  270px;
    background-color: white;
   
}
.img-seller1 {
    background-image: url("seller1_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 177px;
    width:  270px;
}
.seller-2 {
    border: 2px solid white;
    height: 200px;
    width:  184px;
    background-color: white;
   
}
.img-seller2 {
    background-image: url("seller2_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  184px;
}
.seller-3 {
    border: 2px solid white;
    height: 200px;
    width:  198px;
    background-color: white;
   
}
.img-seller3 {
    background-image: url("seller3_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  198px;
}
.seller-4 {
    border: 2px solid white;
    height: 200px;
    width:  225px;
    background-color: white;
   
}
.img-seller4 {
    background-image: url("seller4_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  225x;
}
.seller-5 {
    border: 2px solid white;
    height: 200px;
    width:  120px;
    background-color: white;
   
}
.img-seller5 {
    background-image: url("seller5_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 190px;
    width:  100px;
}
.heading h2{
    border: 2px solid white;
    font-weight: 700px;
    height: 31px;
    width:  1280px;
    background-color: white;
   
}
.marchandise-section {
    display: flex;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
}
.gaming-marchandise {
    border: 2px solid white;
    height: 360px;
    width:  305px;
    background-color: white;
}
.gaming-marchandise h2{
    text-align: center;
    font-weight: 700px;
}
.Apparel-Hats {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 20px;
    justify-content: space-evenly;
   
    
}
.Action-Mugs {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-evenly;
}
.img-Apparel {
    background-image: url("Apparel_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.img-Hats {
    background-image: url("Hats_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.img-Action {
    background-image: url("action_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.img-Mugs {
    background-image: url("Mugs_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.gaming-marchandise p{
    font-size: 12px;
    font-weight: 700px;
    text-align: center;
}
.class6 p {
    font-size: 13px;
    font-weight: 700px;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;
}

.shop-activity{
    border: 2px solid white;
    height: 360px;
    width:  307px;
    background-color: white;
}
.shop-activity h2{
    text-align: center;
    font-weight: 700px;
}
.shop-activity p{
    font-size: 14px;
    font-weight: 700px;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;

}
.warming-decor {
    border: 2px solid white;
    height: 360px;
    width:  305px;
    background-color: white;
}
.decor h2{
    text-align: center;
    font-weight: 700px;
}
.warming-decor p{
    font-size: 12px;
    font-weight: 700px;
    text-align: center;
}
.class7 p {
    font-size: 13px;
    font-weight: 700px;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;
}
.price {
    border: 2px solid white;
    height: 360px;
    width:  305px;
    background-color: white;
}
.price h2{
    text-align: center;
    font-weight: 700px;
}
.price p{
    font-size: 14px;
    font-weight: 700px;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 20px;
}
.smartwatch{
    border: 2px solid white;
    height: 100px;
    width:  300px;
}
.img-smartwatch {
    border: 2px solid white;
    background-image: url("smartwatches_photo.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 15px;
    height: 240px;
    width:  240px;
    
}
.garlands-outdoors {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    justify-content: space-evenly;
   
    
}
.pillow-walls {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    justify-content: space-evenly;
}
.img-garlands {
    background-image: url("garlands_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.img-outdoors {
    background-image: url("decors_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.img-pillow {
    background-image: url("pillow_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.img-walls {
    background-image: url("wall_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.shoes{
    border: 2px solid white;
    height: 100px;
    width:  300px;
}
.img-shoes {
    border: 2px solid white;
    background-image: url("shoes_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 250px;
    width: 250px;
    margin-left: 15px;
}
.gaming-section{
    background-color: white;
    justify-content: space-evenly;
}
.game-Sellers{
    border: 2px solid white;
    height: 220px;
    background-color: white;
    display: flex;
    padding-left: 20px;
    justify-content: space-evenly;
   
}

.sell-1 {
    border: 2px solid white;
    height: 200px;
    width:  150px;
    background-color: white;
   
}
.img-sell1 {
    background-image: url("toy1_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  200px;
}
.sell-2 {
    border: 2px solid white;
    height: 200px;
    width:  150px;
    background-color: white;
   
}
.img-sell2 {
    background-image: url("toy2_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  250px;
}
.sell-3 {
    border: 2px solid white;
    height: 200px;
    width:  150px;
    background-color: white;
   
}
.img-sell3 {
    background-image: url("toy3_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  150px;
}
.sell-4 {
    border: 2px solid white;
    height: 200px;
    width:  150px;
    background-color: white;
   
}
.img-sell4 {
    background-image: url("toy4_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  150x;
}
.sell-5 {
    border: 2px solid white;
    height: 200px;
    width:  150px;
    background-color: white;
   
}
.img-sell5 {
    background-image: url("toy5_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  150px;
}
.heading1 h2{
    border: 2px solid white;
    font-weight: 700px;
    height: 31px;
    width:  1280px;
    background-color: white;
   
}

.product-section{
    background-color: white;
    justify-content: space-evenly;
}
.popular-products{
    border: 2px solid white;
    height: 220px;
    background-color: white;
    display: flex;
    padding-left: 20px;
    justify-content: space-evenly;
   
}

.Ntro {
    border: 2px solid white;
    height: 200px;
    width:  150px;
    background-color: white;
   
}
.img-Nitro {
    background-image: url("Nitro_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  200px;
}
.gaming-monitor {
    border: 2px solid white;
    height: 200px;
    width:  150px;
    background-color: white;
   
}
.img-monitor {
    background-image: url("Monitor_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  250px;
}
.san-disk{
    border: 2px solid white;
    height: 200px;
    width:  150px;
    background-color: white;
   
}
.img-sandisk {
    background-image: url("sandisk_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  150px;
}
.WD-Black {
    border: 2px solid white;
    height: 200px;
    width:  150px;
    background-color: white;
   
}
.img-Black {
    background-image: url("black_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  150x;
}
.samsung {
    border: 2px solid white;
    height: 200px;
    width:  150px;
    background-color: white;
   
}
.img-samsung {
    background-image: url("samsung_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  150px;
}
.heading2 h2{
    border: 2px solid white;
    font-weight: 700px;
    height: 31px;
    width:  1280px;
    background-color: white;
   
}




.item-season{
    background-color: white;
    justify-content: space-evenly;
}
.Popular-items{
    border: 2px solid white;
    height: 220px;
    background-color: white;
    display: flex;
    padding-left: 20px;
    justify-content: space-evenly;
   
}

.Precipice{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-precipice {
    background-image: url("precipice_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  133px;
}
.Good-better {
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-better {
    background-image: url("Better_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  133px;
}
.scout{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-scout {
    background-image: url("scout_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  132px;
}
.future {
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-future {
    background-image: url("future_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:   133x;
}
.bostrom{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-bostrom {
    background-image: url("bostrom_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  133px;
}
.petersinger{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-singer {
    background-image: url("peter_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  134px;
}
.Hours{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-hours {
    background-image: url("hours_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  133px;
}
.universe{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-universe  {
    background-image: url("universe_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  133px;
}

.heading3 h2{
    border: 2px solid white;
    font-weight: 700px;
    height: 31px;
    width:  1280px;
    background-color: white;
   
}

.Dining-section{
    background-color: white;
    justify-content: space-evenly;
}
.Kitchen-products{
    border: 2px solid white;
    height: 220px;
    background-color: white;
    display: flex;
    padding-left: 20px;
    justify-content: space-evenly;
   
}

.Bounty {
    border: 2px solid white;
    height: 200px;
    width:  186px;
    background-color: white;
   
}
.img-Bounty {
    background-image: url("Bounty_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  186px;
}
.bottle1 {
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-bottle1 {
    background-image: url("bottle1_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  59px;
}
.bottle2{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-bottle2 {
    background-image: url("bottle2_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  91px;
}
.bottle3 {
    border: 2px solid white;
    height: 200px;
    width:  68px;
    background-color: white;
   
}
.img-bottle3 {
    background-image: url("bottle3_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  68x;
}
.presto{
    border: 2px solid white;
    height: 200px;
    width:  270px;
    background-color: white;
   
}
.img-presto {
    background-image: url("presto_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  270px;
}
.scott{
    border: 2px solid white;
    height: 200px;
    width:  236px;
    background-color: white;
   
}
.img-scott {
    background-image: url("scott_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  236px;
}

.heading4 h2{
    border: 2px solid white;
    font-weight: 700px;
    height: 31px;
    width:  1280px;
    background-color: white;
   
}





.sports-section{
    background-color: white;
    justify-content: space-evenly;
}
.outdoor-section{
    border: 2px solid white;
    height: 220px;
    background-color: white;
    display: flex;
    padding-left: 20px;
    justify-content: space-evenly;
   
}

.LB {
    border: 2px solid white;
    height: 200px;
    width:  228px;
    background-color: white;
   
}
.img-LB {
    background-image: url("LB_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  228px;
}
.sports1{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-sports1 {
    background-image: url("sports1_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  68px;
}
.sports2{
    border: 2px solid white;
    height: 200px;
    width:  270px;
    background-color: white;
   
}
.img-sports2 {
    background-image: url("sports2_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 103px;
    width:  270px;
}
.sports3 {
    border: 2px solid white;
    height: 200px;
    width:  187px;
    background-color: white;
   
}
.img-sports3 {
    background-image: url("sports3_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  187x;
}
.sports4{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-sports4 {
    background-image: url("sports4_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  105px;
}
.sports5{
    border: 2px solid white;
    height: 200px;
    width:  270px;
    background-color: white;
   
}
.img-sports5 {
    background-image: url("sports5_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  270px;
}

.heading5 h2{
    border: 2px solid white;
    font-weight: 700px;
    height: 31px;
    width:  1280px;
    background-color: white;
   
}


.beauty-section{
    background-color: white;
    justify-content: space-evenly;
}
.beauty-products{
    border: 2px solid white;
    height: 220px;
    background-color: white;
    display: flex;
    padding-left: 20px;
    justify-content: space-evenly;
   
}

.prod1{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-prod1 {
    background-image: url("prod1_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  90px;
}
.prod2{
    border: 2px solid white;
    height: 200px;
    width:  194px;
    background-color: white;
   
}
.img-prod2 {
    background-image: url("prod2_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  194px;
}
.prod3{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-prod3 {
    background-image: url("prod3_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  53px;
}
.prod4 {
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-prod4 {
    background-image: url("prod4_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  91x;
}
.prod5{
    border: 2px solid white;
    height: 200px;
    width:  197px;
    background-color: white;
   
}
.img-prod5 {
    background-image: url("prod5_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  197px;
}
.prod6{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-prod6 {
    background-image: url("prod6_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  100px;
}

.heading6 h2{
    border: 2px solid white;
    font-weight: 700px;
    height: 31px;
    width:  1280px;
    background-color: white;
   
}
.season-section{
    display: flex;
    justify-content: space-evenly;
}
.outfit-section1{
    border: 2px solid white;
    height: 360px;
    width:  305px;
    background-color: white;
}
.outfit-section1 h2{
    text-align: center;
    font-weight: 700px;
}
.outfit-section1 p{
    font-size: 12px;
    font-weight: 700px;
    text-align: center;
}
.class8 p{
    font-size: 14px;
    font-weight: 700px;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;
}

.games-section{
    border: 2px solid white;
    height: 360px;
    width:  307px;
    background-color: white;
}
.games-section h2{
    text-align: center;
    font-weight: 700px;
}
.games-section p{
    font-size: 12px;
    font-weight: 700px;
    text-align: center;
}
.class9 p{
    font-size: 14px;
    font-weight: 700px;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;
}
.work-section {
    border: 2px solid white;
    height: 360px;
    width:  305px;
    background-color: white;
}
.work-section h2{
    text-align: center;
    font-weight: 700px;
}
.work-section p{
    font-size: 14px;
    font-weight: 700px;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;
}
.fun-section {
    border: 2px solid white;
    height: 360px;
    width:  305px;
    background-color: white;
}
.fun-section h2{
    text-align: center;
    font-weight: 700px;
}
.fun-section p{
    font-size: 12px;
    font-weight: 700px;
    text-align: center;
}
.class10 p{
    font-size: 14px;
    font-weight: 700px;
    color: rgb(18, 177, 240);
    text-align: start;
    padding-left: 10px;
}


.outfit{
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 20px;
    justify-content: space-evenly;
   
    
}
.outfits {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-evenly;
}
.outfit1-img {
    background-image: url("outfit1_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.outfit2-img {
    background-image: url("outfit2_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.outfit3-img {
    background-image: url("outfit3_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.outfit4-img {
    background-image: url("outfit4_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}



.pc-xbox{
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 20px;
    justify-content: space-evenly;
   
    
}
.play-switch {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-evenly;
}
.img-pc {
    background-image: url("pc_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.img-xbox {
    background-image: url("xbox_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.img-play {
    background-image: url("play_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.img-switch{
    background-image: url("switch_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.computers{
    border: 2px solid white;
    height: 100px;
    width:  300px;
}
.img-computers{
    border: 2px solid white;
    background-image: url("computers_photo.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 15px;
    height: 240px;
    width:  240px;
    
}

.play-section{
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 20px;
    justify-content: space-evenly;
   
    
}
.figure {
    border: 2px solid white;
    height: 100px;
    width:  300px;
    display: flex;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-evenly;
}
.playsets-img{
    background-image: url("sets_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.learning-img {
    background-image: url("learning_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.img-action1{
    background-image: url("figure_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.playtoys-img {
    background-image: url("playtoy_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 116px;
    width:  126px;
}
.books-section{
    background-color: white;
    justify-content: space-evenly;
}
.book-sellers{
    border: 2px solid white;
    height: 220px;
    background-color: white;
    display: flex;
    padding-left: 20px;
    justify-content: space-evenly;
   
}

.book1{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-book1 {
    background-image: url("book1_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  133px;
}
.book2 {
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-book2 {
    background-image: url("book2_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  133px;
}
.book3{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-book3 {
    background-image: url("book3_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  132px;
}
.book4 {
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-book4{
    background-image: url("book4_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:   133x;
}
.book5{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-book5 {
    background-image: url("book5_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  133px;
}
.book6{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-book6{
    background-image: url("book6_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  134px;
}
.book7{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-book7 {
    background-image: url("book7_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  133px;
}
.book8{
    border: 2px solid white;
    height: 200px;
    width:  145px;
    background-color: white;
   
}
.img-book8  {
    background-image: url("book8_photo.jpg");
    background-size: cover;
    background-position: center;
    height: 200px;
    width:  133px;
}

.heading7 h2{
    border: 2px solid white;
    font-weight: 700px;
    height: 31px;
    width:  1280px;
    background-color: white;
   
}
.outer {
    background-color: white;
    height: 150px;
    width:  1300px;
}
.recommendation{
   background-color: white;
   height: 15px;
   width: 1015px;

}
.heading9 h4{
    text-align: center;
    font-weight: 400;
}
button {
    background-color: white;
   height: 15px;
   width: 1015px;
   text-align: center;
}
.signin{
    text-align: center;
    height: 20px;
}
.btn {
    font-size: 15px;
    color: black;
    background-color: rgba(240, 143, 17, 0.979);
    border: 2px solid rgba(240, 143, 17, 0.979);
    border-radius: 5px;
    height: 30px;
    width: 250px;
    text-align: center;
    }
.customer{
    background-color: white;
    height: 15px;
    width:  1250px;
 
 }
 .heading10 h5{
     text-align: center;
     font-weight: 400;
 }

 /** footer **/
 .footer{
    margin-top: 15px;
    background-color: white;
 }
 .foot-pannel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
 }
 .foot-pannel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    
 }
 ul {
    margin-top: 20px;
 }
 ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
 }
 ul a:hover {
    text-decoration: underline;
}
 .foot-pannel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 90px;
    display: flex;
    align-items: center;
 }
 .amazon{
    background-color: #222f3d;
    height: 60px;
    width:  100px;
    align-items: center;
    padding-top: 20px;
    margin-left: 300px;

 }
 .logo {
    background-image: url("amazon_logo.png");
    height: 50px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-color: white;
 }
 .pannel-section2{
    background-color: #222f3d;
    height: 35px;
    width: 441px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin-left: 100px;
 }
 .language {
    border: 1.5px solid grey;
}
.add-icon2 {
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

}
.Dollar {
    border: 1.5px solid grey;
}
.add-icon3 {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

}
.Country {
    border: 1.5px solid grey;
}
.Country img{
    height: 17px;
    width: 20px;
}
.add-icon4 {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;

}
.foot-pannel4{
    background-color: #131A22;
    color: white;
    border-top: 0.5px solid #131A22 ;
    height: 400px;
    width: 1300px;
    display: flex;
    justify-content: space-evenly;
 }
 .div1 {
    font-size: 12px;
    padding-top: 30px;
    padding-left: 30px;
    color: #dddddd;
    margin-top: 10px;
    justify-content: space-evenly ;
    align-items: center;
    text-decoration: hover;
 }
 .music:hover{
    text-decoration: underline;
 }
 .global:hover{
    text-decoration: underline;
 }
 .pro:hover{
    text-decoration: underline;
 }
 .div2 {
    font-size: 12px;
    padding-top: 30px;
    padding-left: 10px;
    color: #dddddd;
    justify-content: space-evenly ;
    align-items: center;
 }
 .Ads:hover{
    text-decoration: underline;
 }
 .Services:hover{
    text-decoration: underline;
 }
 .publishing:hover{
    text-decoration: underline;
 }
 .wifi:hover{
    text-decoration: underline;
 }
 .div3 {
    font-size: 12px;
    padding-top: 30px;
    padding-left: 10px;
    color: #dddddd;
    justify-content: space-evenly ;
    align-items: center;
 }
 .pm:hover{
    text-decoration: underline;
 }
 .web:hover{
    text-decoration: underline;
 }
 .video:hover{
    text-decoration: underline;
 }
 .Blink:hover{
    text-decoration: underline;
 }
 .div4 {
    font-size: 12px;
    padding-top: 30px;
    padding-left: 10px;
    color: #dddddd;
    justify-content: space-evenly ;
    align-items: center;
 }
 .Abe:hover{
    text-decoration: underline;
 }
 .Audible:hover{
    text-decoration: underline;
 }
 .shop:hover{
    text-decoration: underline;
 }
 .App:hover{
    text-decoration: underline;
 }
 .div5 {
    font-size: 12px;
    padding-top: 30px;
    padding-left: 10px;
    color: #dddddd;
    justify-content: space-evenly ;
    align-items: center;
 }
 .AX:hover{
    text-decoration: underline;
 }
 .Box-office:hover{
    text-decoration: underline;
 }
 .woot:hover{
    text-decoration: underline;
 }
 .subscription:hover{
    text-decoration: underline;
 }
 .div6 {
    font-size: 12px;
    padding-top: 30px;
    padding-left: 10px;
    color: #dddddd;
    justify-content: space-evenly ;
    align-items: center;
}
.selling:hover{
    text-decoration: underline;
 }
 .reads:hover{
    text-decoration: underline;
 }
 .zop:hover{
    text-decoration: underline;
 }
 .pill:hover{
    text-decoration: underline;
 }
 .div7 {
    font-size: 12px;
    padding-top: 30px;
    padding-right: 30px;
    color: #dddddd;
    justify-content: space-evenly ;
    align-items: center;
 }
 .Business:hover{
    text-decoration: underline;
 }
 .IMdb:hover{
    text-decoration: underline;
 }
 .ring:hover{
    text-decoration: underline;
 }
 .foot-pannel5{
    background-color:  #131A22;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
 }
 .pages  {
    padding-top: 25px;
   
 }
 .pages:hover{
    text-decoration: underline;
 }
 .copyright {
    padding-top: 5px;
}




